.css-17jjc08-MuiDataGrid-footerContainer {
  display: none;
}
.css-wogcmv-MuiToolbar-root-MuiTablePagination-toolbar {
  display: none;
}
.MuiDataGrid-footerContainer .css-17jjc08-MuiDataGrid-footerContainer {
  display: none;
}
.MuiTablePagination-root .css-1kpti-MuiTablePagination-root {
  display: none;
}
.MuiTablePagination-root .css-1kpti-MuiTablePagination-root {
  display: none;
}
.css-1kpti-MuiTablePagination-root {
  display: none;
}
